@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400&display=swap');
    * {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
    }
    body {
	  color: grey;
	  font-family : 'Noto Serif KR', serif;
	  font-size : small
	  }
	table {
		width:100%;
	}
	th {
		text-align:left;
	}
	td {
		padding:2% 1%;
	}
	input[type="submit"] {
	float:right;
	margin-right: 5%;
	text-align:center;
	}