/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Song+Myung:400');;
    * {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  text-align:center;
    }
    body {
      text-align:center;
	  color: grey;
	  /* font-family : 'Noto Serif KR', serif; */
	  font-family : 'Nanum+Gothic Coding', serif;
	  font-size : small
	  }
	table {
	margin-left:20%;
 	text-align:center;
	width:80%;
	}
	th {
		text-align:left;
	}
	td {
		padding:2% 1%;
	}
	input[type="submit"] {
	float:right;
	margin-right: 5%;
	text-align:center;
	}
	a:link {
	cursor:pointer;
	color: gray;
	text-decoration: none;
	}
	a:visited {
	color: orange;
	text-decoration: none;
	}
